@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

* {
    font-family: "Fredoka", sans-serif;
}

body {
    padding: 2rem;
    background: hsl(220, 100%, 97%);
}

input {
    width: 80%;
    border: none;
    padding: 1rem;
    display: block;
    border-radius: 0.75rem;
    background: hsl(220, 100%, 100%);
}
input:focus {
    outline: none;
    background: hsl(220, 100%, 99%);
}
/* input:invalid, input.Invalid {
    border: 2px solid red;
    animation: Blink_Error 1s ease-in-out 10;
} */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

label {
    margin-bottom: 1.25rem;
}

.Bold {
    font-weight: bold;
}
.Muted {
    color: hsl(0, 0%, 50%);
}

button {
    border: none;
    color: white;
    padding: 1rem 2rem;
    border-radius: 1rem;
    transition: 0.2s ease-in-out;
    background: hsl(0, 0%, 0%);
}
button:hover {
    background: hsl(0, 0%, 15%);
}
button:has(svg) {
    padding: 0.75rem;
}
button svg {
    fill: white;
}

@keyframes Blink_Error {
    0%, 100% {
        border: 2px solid red;
    }

    50% {
        border: 2px solid white;
    }
}

.Element {
    margin: 2rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    box-shadow: 10px 10px;
    border: 4px solid black;
    background: hsl(220, 100%, 100%);
}

.Chats_Container {
    position: relative;
}
.Chats_Container .Chat_Container {
    right: 0;
    margin: 1rem;
    position: absolute;
}
.Chats_Container .Chat_Container .Chat_Box {
    width: max-content;
    border-radius: 1rem;
    padding: 0.5rem 2rem;
    background: hsl(220, 100%, 100%);
}

.Row {
    gap: 0.75rem;
    display: flex;
    max-width: 100%;
    flex-direction: row;
}