@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Fredoka", sans-serif;
}

:root {
    --White: hsl(0, 100%, 100%);
    --Dark-White: hsl(245, 15%, 92%);

    --Main: hsl(0, 100%, 68%);
    --Secondary-Main: hsl(350, 100%, 68%);

    --Purple-Black: hsl(245, 15%, 68%);
    --Text-Black: hsl(0, 100%, 10%);
    --Text-White: hsl(0, 100%, 99%);
    --Teal-Black: hsl(195, 14%, 50%);
    --Text-Muted: hsl(0, 0%, 50%);

    --Light-Border: 4px solid var(--Dark-White);
    --Main-Border: 4px solid var(--Main);

    --Radius-1: 10px;
    --Radius-2: 20px;

    --Spacing-1: 1rem;
    --Spacing-2: 2rem;
    --Spacing-3: 5rem;

    --Transition: 300ms ease-in-out;
}

:root {
    --White: hsl(0, 0%, 10%);
    --Dark-White: hsl(0, 0%, 20%);

    --Main: hsl(0, 100%, 78%);
    --Secondary-Main: hsl(350, 100%, 78%);

    --Purple-Black: hsl(245, 15%, 88%);
    --Text-Black: hsl(0, 100%, 99%);
    --Text-White: hsl(0, 100%, 99%);
    --Teal-Black: hsl(195, 14%, 50%);

    --Light-Border: 4px solid var(--Dark-White);
    --Main-Border: 4px solid var(--Main);

    --Radius-1: 10px;
    --Radius-2: 20px;

    --Spacing-1: 1rem;
    --Spacing-2: 2rem;
    --Spacing-3: 5rem;

    --Transition: 200ms ease-in-out;
}

body {
    overflow-x: hidden;
    background: var(--White);
}

body.Scroll-None {
    overflow: hidden !important;
}


button {
    gap: 5px;
    padding: 16px;
    font-weight: 500;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    color: var(--Text-Black);
    background: var(--White);
    border: var(--Light-Border);
    transition: var(--Transition);
    border-radius: var(--Radius-2);
}
button:hover {
    scale: 1.05;
}
button:active {
    scale: 0.95;
}

.Muted {
    color: var(--Text-Muted);
}

h1, h2, h3, h4, h5, h6, label, p, input {
    color: var(--Text-Black);
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



.Tool-Box {
    gap: 12px;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    padding: 64px;
    z-index: 1000;
    max-width: 386px;
    text-align: center;
    translate: -50% -50%;
    border: var(--Light-Border);
    border-radius: var(--Radius-2);
}
.Tool-Box h1 {
    font-size: 100px;
}





.Side_Bar {
    gap: var(--Spacing-1);
    display: flex;
    position: absolute;
    left: 0;
    height: 100dvh;
    overflow-y: hidden;
    padding-left: 2rem;
    padding-right: 2rem;
    align-items: center;
    flex-direction: column;
    /* justify-content: center; */
    border-right: var(--Light-Border);
}

.Side_Bar.Expanded button {
    width: 12rem;
}

.Side_Bar button {
    border: none;
    cursor: pointer;
    align-items: flex-start;
    justify-content: flex-start;
}
.Side_Bar button:first-child {
    margin-top: 5rem;
}

.Side_Bar button.Yinix {
    border-radius: 10rem;
    background: hsla(0, 100%, 68%, 10%);
}
.Side_Bar button.Yinix span, .Side_Bar button.Yinix h2 {
    color: var(--Main);
}


.Side_Bar button span {
    font-size: 2rem;
    color: var(--Purple-Black);
}

.Side_Bar button h2 {
    display: none;
    align-self: center;
    margin-left: 0.5rem;
    color: var(--Purple-Black);
}
.Side_Bar.Expanded button h2 {
    display: inline-flex;
}



.Main {
    padding-top: 5rem;
    margin-left: 20rem;
}

.Main .Classes .Class {
    width: 10rem;
    height: 15rem;
    padding: 2.5rem;
    background: var(--White);
    border: var(--Light-Border);
    border-radius: var(--Radius-2);
}


/* =====================================Whiteboard Area===================================== */


.Whiteboard_Area {
    display: flex;
}

.Whiteboard_Area .Whiteboard_Tools {
    gap: 32px;
    padding: 25px;
    display: flex;
    position: fixed;
    left: 50px;
    bottom: 50px;
    max-height: 30px;
    text-align: center;
    align-items: center;
    flex-direction: row;
    border-radius: 15px;
    justify-content: center;
    background: var(--White);
    box-shadow: 0 4px 8px 0 var(--Light), 0 6px 20px 0 var(--Light);
}

.Whiteboard_Area .Whiteboard_Tools div {
    transition: 0.01s ease-in-out;
}

.Whiteboard_Area .Whiteboard_Tools div span {
    font-size: 32px;
    cursor: pointer;
    user-select: none;
    color: var(--Teal-Black);
    transition: color 0.2s ease-in-out;
}

.Whiteboard_Area .Whiteboard_Tools div span:hover {
    color: #47595e;
}

.Whiteboard_Area .Whiteboard_Tools div span:active {
    opacity: 0.5;
}

.Whiteboard_Area .Whiteboard_Tools div.Active {
    color: var(--Main);
    transform: translateY(-10px);
}

.Whiteboard_Area .Whiteboard_Tools div.Active span {
    color: var(--Main);
}

.Whiteboard_Area .Whiteboard_Tools .Whiteboard_Divider {
    font-size: 28px;
    color: var(--Light);
}

.Whiteboard_Area #Colour_Creator {
    left: 195px;
    bottom: 150px;
    display: none !important;
    position: fixed;
    background: var(--White);
    border: var(--Light-Border);
}

.Whiteboard_Area .Whiteboard,
.Whiteboard_Area .White {
    width: 100%;
    z-index: -999;
    height: 100dvh;
    cursor: default;
    position: fixed;
    pointer-events: auto;
    background: var(--White);
}

.Whiteboard_Area .White.Pencil {
    cursor: url("./Images/Pen Cursor.png") 12 12, crosshair;
}

.Whiteboard_Area .Whiteboard .Pen_Mark {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--Main);
}

.Whiteboard_Area .White .Text {
    padding: 18px;
    overflow: hidden;
    resize: both;
    width: max-content;
    position: relative;
    border: 2px solid var(--White);
}

.Whiteboard_Area .White .Text::-webkit-resizer {
    display: none;
}

.Whiteboard_Area .White .Text:hover {
    border: 2px dotted var(--Main);
}

.Whiteboard_Area .White .Text:focus {
    outline: inherit;
    cursor: text;
    border: 2px dotted var(--Main);
}

.Whiteboard_Area .White .Text::after {
    content: "";
    width: 7px;
    height: 7px;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: se-resize;
    background: var(--White);
    border: 3px solid var(--Main);

    display: none;
}

.Whiteboard_Area .White .Text::before {
    content: "🗑️";
    width: 7px;
    height: 7px;
    display: none;
    position: absolute;
    top: 0;
    right: 15px;
    border-radius: 5px;
    background: var(--White);
}

.Whiteboard_Area .White .Text:focus::after,
.Whiteboard_Area .White .Text:focus:before {
    display: block;
}




/* =====================================Video Meeting Area===================================== */

.Video_Meeting {
    height: 100vh;
}

.Video_Meeting .Video_Box{
  margin: var(--Spacing-1);
  width: 25rem;
  height: 300px;
  border-radius: var(--Radius-1);
}
.Video_Meeting .Video_Box #Webcam_Video {
  width: 100%;
  border-radius: var(--Radius-1);
}

.Video_Meeting button {
    border-radius: var(--Radius-2);
}


.Video_Meeting .Bottom_Menu {
    bottom: 0;
    width: 100%;
    display: flex;
    position: fixed;
    flex-direction: row;
    gap: var(--Spacing-1);
    padding: var(--Spacing-1);
    border-top: var(--Light-Border);
}
.Video_Meeting .Bottom_Menu .Divider {
    font-size: 2.5rem;
    color: var(--Dark-White);
}



.Video_Meeting_Chat_Sidebar {
    gap: var(--Spacing-1);
    display: flex;
    padding: 2rem;
    height: 100dvh;
    position: fixed;
    right: 0; top: 0;
    flex-direction: column;
    color: var(--Text-Black);
    background: var(--White);
    border-left: var(--Light-Border);
}

.Video_Meeting_Chat_Sidebar .Center {
    text-align: center;
    align-items: center;
}

.Video_Meeting_Chat_Sidebar .Chat_Container .Chat_Bubble {
    max-width: 10rem;
    border-radius: 67rem;
    padding: var(--Spacing-1);
    border: var(--Light-Border);
}







#Randomizer input[type="number"] {
    width: 1.5rem;
    text-align: center;
    color: var(--Text-Black);
    background: var(--White);
    padding: var(--Spacing-1);
    border: var(--Light-Border);
    transition: var(--Transition);
    border-radius: var(--Radius-1);
}
#Randomizer input[type="number"]:focus {
    outline: none;
    border: var(--Main-Border);
}

#Randomizer input[type="range"] {
    appearance: none;
    width: 80%;
    background: var(--White);
    border: var(--Light-Border);
    border-radius: var(--Radius-1);
}

#Randomizer input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    border-radius: 50%;
    background: var(--Main);
}


#Randomizer #Random_Number {
    user-select: all;
    animation: Random_Appear 0.3s ease-in-out;
}

@keyframes Random_Appear {
    0% {
        opacity: 0;
        scale: 1.5;
    }

    100% {
        opacity: 1;
    }
}




@media (max-width: 425px) {
    .Tool-Box {
        padding: 0;
        border: none;
    }
}